<!DOCTYPE html>
<html>

<head>
    <title>Practice Tracker</title>
    <script src="https://unpkg.com/vue@next"></script>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css" type="text/css">
</head>

<body>
    <div id="app">

        <h1 class="text-center">Practice Time Tracker</h1>

        <div id="add-hours" class="card">

            <h2 class="card-header">Add Records</h2>
            <div class="card-body">
               
                <div class="alert alert-danger" v-if="this.errors.length > 0">
                    <ul>
                        <li v-for="error in errors">{{ error }}</li>
                    </ul>
                </div>

                <div class="form-group">
                    <!-- TODO display name of activity in the label -->
                    <label class="form-label" for="date">What date did you do this activity?</label>
                    <input id="date" class="form-control" type="date" v-model="dateString">
                    <small id="date-help" class="form-text text-muted">
                        Date must be today or in the past.
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-label" for="hours">How many hours did you practice for?</label>
                    <!-- TODO use v-model to connect this input to hours data -->
                    <input id="hours" class="form-control" type="number" min="0" max="24" v-model.number="hours">
                    <small id="hours-help" class="form-text text-muted">
                        Enter a number of hours, more than 0, up to a maximum of 24
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-label" for="type">What type?</label>
                    <!-- TODO Create select element, use v-model to connect to the types -->

                    <!-- TODO Use v-for to create option elements, one for each type -->
                    <select class="form-control" v-model="type">
                        <option v-for="activity in types.sort(function (t1,t2){
                                if (t1 > t2) { return 1 }
                                if (t2 > t1) { return -1 }
                                if (t1 == t2) { return 0 }
                        })">{{ activity }}</option>
                    </select>
                </div>

                <div class="form-label pb-2">
                    What media?
                </div>

                <!--
                     Because both radio buttons below change the same data using v-model,
                      only one item can be selected at any given time.

                      NOTE: The value attribute assigned to the inputs
                      is the data being passed to v-model.

                      -->

                <div class="form-check-inline">
                    <input id="media1" class="form-check-input" type="radio" value="Traditional" v-model="medium">
                    <label class="form-check-label" for="media1">  Traditional  </label>
                </div>

                <div class="form-check-inline">
                    <input id="media2" class="form-check-input" type="radio" value="Digital" v-model="medium">
                    <label class="form-check-label" for="media2">  Digital  </label>
                </div>

                <div>
                    <!-- TODO Add v-on:click -->
                    <button class="btn btn-primary mt-2" type="button" v-on:click="submit">Add record</button>
                </div>
                
            </div>
        </div>

        <div class="card">
            <h2 class="card-header">Activity Records</h2>

            <div class="card-body">

                <h3> {{total_records }}</h3>

                <div id="records">
                    <table class="table table-hover">
                        <tr>
                            <th>Date</th>
                            <th>How many hours?</th>
                            <th>Type</th>
                            <th>Media</th>
                        </tr>
                        <!-- TODO use v-for to create one table row for each activity record -->
                        <tr v-for="record in activityRecords">
                            <td>{{ shortDate(record.date) }}</td>
                            <td> {{record.hours}} </td>
                            <td> {{record.type}} </td>
                            <td> {{record.medium}} </td>
                        </tr>


                    </table>
                </div>
            </div>
        </div>


        <div class="card">
            <h2 class="card-header">Summary</h2>

            <div class="card-body">

                <!-- TODO add computed property to calculate the total hours -->
                <p>You have practiced a total of {{ total_hours }} hours</p>

                <!-- Challenge question! Display a list of the total hours for each type.  -->
          
            </div>
        </div>

    </div>

    <script>

        let app = Vue.createApp({
                data() {
                        return{

                                activity: 'Art',
                                activityRecords: [],
                                // v-model with form inputs
                                dateString: '',
                                hours: 1,
                                type: 'Creative writing',
                                medium: 'Digital',

                                // selectable types
                                types: ['Sketching','Drawing','Painting','Photobashing','Creative writing'],

                                errors: []
                        }
                },
                methods: {
                        submit() {
                                this.errors = []

                                let date = new Date(this.dateString)

                                // date validation
                                if (!this.dateString || this.dateString === 'Invalid Date' || date > new Date()) {
                                        this.errors.push("Select a valid date. Today or in the past.")
                                }
                                // remaining validation
                                if (this.hours <= 0 || this.hours >24){
                                        this.errors.push("There are 0-24 hours in day, you must select a non-zero number in that range.")
                                }
                                if (!this.type) {this.errors.push("Select a type")}
                                if (!this.medium) {this.errors.push("Select a medium")}

                                if (this.errors.length == 0){
                                        let record = {
                                                date: date,
                                                hours: this.hours,
                                                type: this.type,
                                                medium: this.medium
                                        }

                                        this.activityRecords.push(record)

                                        // sort by date
                                        this.activityRecords.sort(function (d1,d2){
                                                // oldest records first
                                                return d1.date.getTime() - d2.date.getTime()
                                        })
                                }


                        },
                        shortDate(date){
                                return new Intl.DateTimeFormat('en-US', {timeZone:'UTC'}).format(date)
                        }

                },
                computed: {
                        total_hours() {
                                let total = 0
                                this.activityRecords.forEach(function (record) {
                                        total = total + record.hours
                                })
                                return total
                        },
                        total_records() {
                                let number_of_records = this.activityRecords.length

                                if (number_of_records === 1) {
                                        return "1 record"
                                }
                                else { return number_of_records + ' records'}
                        }
                }
        })

        app.mount('#app')
    </script>

</body>

</html>